@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#hero{
    height: 100vh;
    width: 100%;
    background-image: url("images/hero.jpg");/*Photo by Acharaporn Kamornboonyarush from Pexels*/
    background-size: cover;
}

nav{
    height: 10vh;
    display: flex;
    align-items: center;
}
nav div{
    width: 300px;
    margin-left: 15%;
}


#shop{
    width: 100px;
    border-radius: .3rem;
    border: none;
    outline: none;
    padding: 5px 5px;
    border: 2px solid #d90429;
    color: #fff;
    background: #d90429;
    margin-top: 2rem;
}



#hero-text{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

#hero-text div{
    width: 30%;
    margin-left: 20%;
}

.display{
    margin: auto;
    margin-top: 4rem;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /*define width*/
    grid-auto-rows: 200px; /*define height*/
    grid-auto-flow: dense;
    gap: 5px;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}
.vertical{
    grid-row: span 2;
  }
  
  .horizontal{
    grid-column: span 2;
  }