@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');;

$base-color: #e63946;

@mixin images{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
@mixin lists {
    list-style-type: none;
}
@mixin flex-horizontal{
display: flex;
justify-content: center;
align-items: center;
}
@mixin flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
img{
    @include images();
}
a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


nav{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-around;


    .logo{
        font-family: 'Pacifico', sans-serif;
        font-size: 2rem;
        color: $base-color;
        width: 33.33%;
        text-align: center;
    }

    div{
        width: 33.33%;
        text-align: center;
        button{
          outline: none;
          border: none;
          border-radius: .5rem;
          background: $base-color;
          color: #ffffff;
          padding: .2rem 1rem
        }
    }
   
    #navigation{
        @include flex-horizontal();
        width: 33.33%;
        
        li{
            @include lists();
            @include flex-horizontal();
            cursor: pointer;
            padding: 1rem;
            span{
                img{
                    height: 20px;
                    width: 20px;
                    border-radius:0;
                }
            }
            a{
                text-decoration: none;
                color: #000000;
            }
        }
    }
}

#hero{
    height: 100vh;
    width: 90vw;
    margin: auto;
    img{
        height: 20rem;
        width: 20rem;
      } 
    h1{
        font-family: 'Pacifico', sans-serif;
        color: $base-color;
        font-size: 3rem;
    }
    p{
        font-size: 3rem;
    }
    button{
        border-radius: 3rem;
        color: #ffffff;
        background-color: $base-color;
        border: none;
        outline: none;
        padding: .5rem 1.2rem;
    }
    @include flex-vertical();
    div{
        color: #ffffff;
       margin-right: auto;
       margin-left: 20%;
       text-align: center;
    }
}

#hero{
    position: relative;
}

#hero::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url('https://images.unsplash.com/photo-1581022295432-7fabcc628434?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content{
    position: relative;
}

#catalogue{
    hr{
        color: $base-color;
    }
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .catalogue__header{
        height: 5vh;
        @include flex-horizontal();
        justify-content: space-around;

        select{
            border: 1px solid $base-color;
            border-radius: .2rem;
            padding: .2rem;
        }

        div{
            display: flex;
            :first-child{
                margin-right: 1rem;
            }
        }
    }
    img{
        max-width: 100%;
        max-height: 250px;
        object-fit: cover;
      }
      
      .product{
        width: 300px;
        height: 350px;
        box-shadow: 0px 0px 3px -1px #000000;
        border-radius: .1rem;
        display: flex;
        flex-direction: column;

        span{
            align-self: flex-end;
            margin-right: .5rem;
            @include flex-horizontal();
            gap: .5rem;
        }
        .icon-tabler-shopping-cart:hover{
            
        }
      }
      .description{
          display: flex;
          margin-top: 1rem;
      }
      h4{
          padding-left: .4rem;
      }
      .product-info{
         display: flex;
         flex-direction: column;
         justify-content: center;
        padding-left: .4rem;
      }

      .action{
          width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .products{
        max-width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*define width*/
        /*grid-auto-rows: 300px; define height*/
        grid-auto-flow: dense;
        grid-gap: 20px;
    }
    
    .products-container{
      margin-top: 4em;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    /*For users who prefer not to have animations*/
    @media (prefers-reduced-motion: reduce)
    {
      *,
      *::before,
      *::after{
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
      }
    }

    
   /*media query for animation ---- if the device does not have a mouse*/
   @media (hover){
   
  }    
      
}
/*ABOUT PAGE*/

#about{
    font-weight: 600;
    font-size: 1.2rem;
}

/*FOOTER*/

footer{
    background-color: $base-color;
    
}

/*TESTIMONIALS*/

.testimonials-container{
    padding-top: 2rem;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    background-color: #1d3557;

    .testimonials{
        padding-top: 2rem;
        margin: auto;
        max-width: 75vw;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        grid-template-rows: repeat(2, 40vh);
        grid-gap: 20px;
    }
   
   
    img{
        max-width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .review{
        background-color: #ffffff;
        border-radius: 35px 35px 35px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .review__two{
       grid-column: 1/3;
    }
    .review__one{
        grid-column: 3/6;
    }
    #text{
        color: #ffffff;
    }

    @media  all and (max-width: 1000px) {
        .review__two{
            grid-column: 1/6;
         }
         .review__one{
             grid-column: 1/6;
         }
    }
}

