@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');;

$base-color: #E44343;

@mixin images{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
@mixin lists {
    list-style-type: none;
}
@mixin flex-horizontal{
display: flex;
justify-content: center;
align-items: center;
}
@mixin flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
img{
    @include images();
}
a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header{
    background-color: #1d3557;
}
nav{
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center ;

    .logo{
        font-family: 'Pacifico', sans-serif;
        font-size: 1.5rem;
        color: $base-color;
        text-align: center;
    }

    div{
        button{
          outline: none;
          border: none;
          border-radius: .5rem;
          background: $base-color;
          color: #ffffff;
          padding: .2rem 1rem;
          margin-right: 1rem;
        }

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
        
        @include flex-horizontal();
        justify-content:center;
    }
   
    #navigation{
        @include flex-horizontal();
        
        li{
            @include lists();
            @include flex-horizontal();
            cursor: pointer;
            padding: 1rem;
            
            span{
                img{
                    height: 20px;
                    width: 20px;
                    border-radius:0;
                }
            }
            a{
                text-decoration: none;
                color: #ffffff;            }
        }
    }
}

#hero{
    height: 100vh;
    width: calc(100% - 5rem);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;
   
    img{
        height: 20rem;
        width: 20rem;
      } 
    h1{
        font-family: 'Pacifico', sans-serif;
        color: $base-color;
        font-size: 3rem;
    }
    p{
        font-size: 3rem;
    }
    button{
        border-radius: 3rem;
        color: #ffffff;
        background-color: $base-color;
        border: none;
        outline: none;
        padding: .5rem 1.2rem;
    }
}

#catalogue{
    hr{
        color: $base-color;
    }
    margin-top: 4rem;
    margin-bottom: 4rem;
    h2{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .catalogue__header{
        height: 5vh;
        @include flex-horizontal();
        justify-content: space-around;

        select{
            border: 1px solid $base-color;
            border-radius: .2rem;
            padding: .2rem;
        }

        div{
            display: flex;
            :first-child{
                margin-right: 1rem;
            }
        }
    }
    img{
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
      }
      
      .product{
        width: 200px;
        height: 300px;
        box-shadow: 0px 0px 3px -1px #000000;
        border-radius: .1rem;
        display: flex;
        flex-direction: column;

        button{
            width: 100%;
            outline: none;
            border: none;
            background: #CA3B70;
            color: #ffffff;
            height: 2rem;
            margin-top: .5rem;
            img{
                width: 1rem;
                height: 1rem;
            }
        }

        button:hover{
            background-color: #b1305f;
        }
        span{
            align-self: flex-end;
            margin-right: .5rem;
            @include flex-horizontal();
            gap: .5rem;
        }
        .icon-tabler-shopping-cart:hover{
            
        }
      }
      .description{
          display: flex;
          margin-top: .3rem;
      }
      h4{
          padding-left: .4rem;
      }
      .product-info{
         display: flex;
         flex-direction: column;
         justify-content: center;
        padding-left: .4rem;
      }

      .action{
          width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .products{
        width: calc(100% - 5rem);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*define width*/
        /*grid-auto-rows: 300px; define height*/
        grid-auto-flow: dense;
        grid-gap: 20px;
    }
    
    .products-container{
      margin-top: 4em;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    /*For users who prefer not to have animations*/
    @media (prefers-reduced-motion: reduce)
    {
      *,
      *::before,
      *::after{
        animation-duration: 0.01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: 0.01ms!important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
      }
    }

    
   /*media query for animation ---- if the device does not have a mouse*/
   @media (hover){
   
  }    
      
}
/*ABOUT PAGE*/

#about{
    font-weight: 600;
    font-size: 1.2rem;
    height: 90vh;
}

#sign{
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
}

.team{
    margin-top: 2rem;
    display: grid;   
    grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));
    border: 3px solid white;

    .text{
        @media all and (min-width: 900px){
            position: sticky;
        }
        
        top: 2rem;
        h1{
            font-size: 3rem;
            font-family: 'Poppins', sans-serif;
        }
       height: 300px;
       align-self:flex-start;
    }

    img{
        max-width: 350px;
    }
    .team__pics{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 5px;
        align-items: center;
    }

    
}

/*FOOTER*/

footer{
    background-color: $base-color;
    
}

/*TESTIMONIALS*/

.testimonials-container{
    padding-top: 2rem;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    background-color: #1d3557;

    .testimonials{
        padding-top: 2rem;
        margin: auto;
        max-width: 75vw;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        grid-template-rows: repeat(2, 40vh);
        grid-gap: 20px;
    }
   
   
    img{
        max-width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .review{
        background-color: #ffffff;
        border-radius: 35px 35px 35px 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .review__two{
       grid-column: 1/3;
    }
    .review__one{
        grid-column: 3/6;
    }
    #text{
        color: #ffffff;
    }

    @media  all and (max-width: 1000px) {
        .review__two{
            grid-column: 1/6;
         }
         .review__one{
             grid-column: 1/6;
         }
    }
}
