@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-as-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

button {
  outline: none;
  border: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background-color: #1d3557;
}

.header.open .header__menu span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.header nav {
  padding: 1.0625rem 1.5rem;
}

.header__logo {
  width: 10rem;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: aquamarine;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: #E44343;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__cta button, .header__cta .button {
  border-radius: 50px;
  background: #E44343;
  color: #ffffff;
  padding: 1rem 1.875rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.header__cta img {
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hero {
  height: 100vh;
  width: calc(100% - 5rem);
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero img {
  height: 20rem;
  width: 20rem;
}

#hero h1 {
  font-family: 'Pacifico', sans-serif;
  color: #E44343;
  font-size: 3rem;
}

#hero p {
  font-size: 3rem;
}

#hero button {
  border-radius: 3rem;
  color: #ffffff;
  background-color: #E44343;
  border: none;
  outline: none;
  padding: .5rem 1.2rem;
}

#catalogue {
  margin-top: 4rem;
  margin-bottom: 4rem;
  /*For users who prefer not to have animations*/
  /*media query for animation ---- if the device does not have a mouse*/
}

#catalogue hr {
  color: #E44343;
}

#catalogue h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#catalogue .catalogue__header {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#catalogue .catalogue__header select {
  border: 1px solid #E44343;
  border-radius: .2rem;
  padding: .2rem;
}

#catalogue .catalogue__header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#catalogue .catalogue__header div :first-child {
  margin-right: 1rem;
}

#catalogue img {
  max-width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#catalogue .product {
  width: 200px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 3px -1px #000000;
          box-shadow: 0px 0px 3px -1px #000000;
  border-radius: .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#catalogue .product button {
  width: 100%;
  outline: none;
  border: none;
  background: #CA3B70;
  color: #ffffff;
  height: 3.5rem;
  margin-top: .5rem;
}

#catalogue .product button img {
  width: 1rem;
  height: 1rem;
}

#catalogue .product button:hover {
  background-color: #b1305f;
}

#catalogue .product span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

#catalogue .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .3rem;
}

#catalogue h4 {
  padding-left: .4rem;
}

#catalogue .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: .4rem;
}

#catalogue .action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#catalogue .products {
  width: calc(100% - 5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*define width*/
  /*grid-auto-rows: 300px; define height*/
  grid-auto-flow: dense;
  grid-gap: 20px;
}

#catalogue .products-container {
  margin-top: 4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (prefers-reduced-motion: reduce) {
  #catalogue *,
  #catalogue *::before,
  #catalogue *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition-delay: 0ms !important;
            transition-delay: 0ms !important;
  }
}

/*ABOUT PAGE*/
#about {
  font-weight: 600;
  font-size: 1.2rem;
  height: 90vh;
}

#sign {
  font-family: 'Dancing Script', sans-serif;
  font-size: 3rem;
}

.team {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  border: 3px solid white;
}

.team .text {
  top: 2rem;
  height: 300px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media all and (min-width: 900px) {
  .team .text {
    position: -webkit-sticky;
    position: sticky;
  }
}

.team .text h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.team img {
  max-width: 350px;
}

.team .team__pics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FOOTER*/
footer {
  background-color: #E44343;
}

/*TESTIMONIALS*/
.testimonials-container {
  padding-top: 2rem;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  background-color: #1d3557;
}

.testimonials-container .testimonials {
  padding-top: 2rem;
  margin: auto;
  max-width: 75vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  -ms-grid-rows: (40vh)[2];
      grid-template-rows: repeat(2, 40vh);
  grid-gap: 20px;
}

.testimonials-container img {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonials-container .review {
  background-color: #ffffff;
  border-radius: 35px 35px 35px 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonials-container .review__two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.testimonials-container .review__one {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

.testimonials-container #text {
  color: #ffffff;
}

@media all and (max-width: 1000px) {
  .testimonials-container .review__two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .testimonials-container .review__one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}
/*# sourceMappingURL=style.css.map */